name: Unit tests

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  checks:
    name: Run clippy and unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- --no-deps -D warnings

      - name: Run unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test

  build:
    name: Build the contract
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Cache Crates
        uses: actions/cache@v3
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-contract-build-env

      - name: Add rust-src
        shell: bash
        run: rustup component add rust-src

      - name: Install cargo contract
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --locked cargo-contract

      - name: Build contract
        uses: actions-rs/cargo@v1
        with:
          command: contract
          args: build --release --features "contract"
